* {
  --board-size: 80vw;
}

@media (orientation: landscape) {
  * {
    --board-size: 50vh;
  }
}

body {
  background-color: rgb(40, 42, 54);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.board {
  display: flex;
  background-color: rgb(189, 147, 249);
  justify-content: space-between;
  align-content: space-between;
  width: calc(var(--board-size) * 1.05);
  height: calc(var(--board-size) * 1.05);
  flex-wrap: wrap;
  border: calc(var(--board-size) * 0.02) solid rgb(189, 147, 249);
  border-radius: calc(var(--board-size) * 0.04);
}

.board__square {
  height: calc(var(--board-size) / 3);
  width: calc(var(--board-size) / 3);
  background-color: rgb(40, 42, 54);
  border: calc(var(--board-size) * 0.02) solid rgb(189, 147, 249);
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.figure {
  --figure-size: calc((var(--board-size) / 3) * 0.7);
  height: var(--figure-size);
  width: var(--figure-size);
}

.board__square .circle {
  border: calc(var(--figure-size) / 5) solid rgb(80, 250, 123);
  border-radius: 50%;
}

.board__square .cross {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross .stick {
  background-color: rgb(255, 121, 198);
  height: calc(var(--figure-size) * 1.3);
  width: calc(var(--figure-size) * 0.25);
  border-radius: calc(var(--board-size) * 0.03);
}

.stick.parent {
  transform: rotate(45deg);
}

.stick.child {
  transform: rotate(-90deg);
}

.rematch {
  height: calc(var(--board-size) * 0.15);
  width: calc(var(--board-size) * 0.35);
  border-radius: calc(var(--board-size) * 0.15 * 0.25);
  border: calc(var(--board-size) * 0.15 * 0.1) solid rgb(189, 147, 249);
  background-color: rgb(68, 71, 90);
  color: rgb(139, 233, 253);
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(var(--board-size) * 0.08);
  cursor: pointer;
  transition: 0.1s;
}

.rematch:hover {
  background-color: rgb(98, 114, 164);
  border-color: rgb(255, 121, 198);
  color: rgb(80, 250, 123);
}

.winner {
  animation: rotate 0.8s, blinker 1.2s linear infinite;
  /* --figure-size: calc((var(--board-size) / 3) * 0.83); */
}

.winner.circle {
  animation: bounceIn 1s, blinker 1s infinite;
}

@keyframes blinker {
  60% {
    transform: scale(1.1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
