* {
  --board-size: 80vw;
}

@media (orientation: landscape) {
  * {
    --board-size: 50vh;
  }
}

body {
  background-color: rgb(40, 42, 54);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.board {
  display: flex;
  background-color: rgb(189, 147, 249);
  justify-content: space-between;
  align-content: space-between;
  width: calc(var(--board-size) * 1.05);
  height: calc(var(--board-size) * 1.05);
  flex-wrap: wrap;
  border: calc(var(--board-size) * 0.02) solid rgb(189, 147, 249);
  border-radius: calc(var(--board-size) * 0.04);
}

.board__square {
  height: calc(var(--board-size) / 3);
  width: calc(var(--board-size) / 3);
  background-color: rgb(40, 42, 54);
  border: calc(var(--board-size) * 0.02) solid rgb(189, 147, 249);
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.board__square .circle {
  height: calc((var(--board-size) / 3) * 0.7);
  width: calc((var(--board-size) / 3) * 0.7);
  border: calc(var(--board-size) * 0.04) solid rgb(80, 250, 123);
  border-radius: 50%;
}

.board__square .cross {
  height: calc((var(--board-size) / 3) * 0.7);
  width: calc((var(--board-size) / 3) * 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross .stick {
  background-color: rgb(255, 121, 198);
  height: calc((var(--board-size) / 3) * 0.93);
  width: calc(var(--board-size) * 0.06);
  border-radius: calc(var(--board-size) * 0.03);
}

.stick.parent {
  transform: rotate(45deg);
}

.stick.child {
  transform: rotate(-90deg);
}

.rematch {
  height: 60px;
  border-radius: 15px;
  border: 5px solid rgb(189, 147, 249);
  background-color: rgb(68, 71, 90);
  color: rgb(139, 233, 253);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.1s;
}

.rematch:hover {
  background-color: rgb(98, 114, 164);
  border-color: rgb(255, 121, 198);
  color: rgb(80, 250, 123);
}
